<div id="ngx-datatable" class="page-layout simple fullwidth docs">
    <div class="accent pl-24 pr-24" fxLayout="column" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
        <div class="h1 mt-8 mb-8"> Договоры </div>
    </div>
    <div fxLayoutAlign.gt-xs="end" >
        <div class="icon-button-demo">
            <button mat-mini-fab color="primary" (click)="add()">
              <mat-icon class="col-white" style="height: 25px;">add</mat-icon>
            </button>
          </div>
          <div class="icon-button-demo">
            <button mat-mini-fab color="primary" >
              <mat-icon class="col-white" style="height: 25px;">refresh
              </mat-icon>
            </button>
          </div>
    </div>
    </div>

    <div class="p-24">
        <ngx-datatable
            class="material"
            [rows]="contracts"
            [columnMode]="'force'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [limit]="10"
            [messages]="{emptyMessage:'Нет результатов по данному статусу',totalMessage:'общее'}"
            >
            <ngx-datatable-column name="Контрагент" prop="nameRu"></ngx-datatable-column>
            <ngx-datatable-column name="№ договора" prop="number"></ngx-datatable-column>
            <ngx-datatable-column name="Дата подписания" prop="singDate"></ngx-datatable-column>
            <ngx-datatable-column name="Статус договора " prop="statusName"></ngx-datatable-column>
            <ngx-datatable-column name="Дата окончания" prop="finisDate"></ngx-datatable-column>
            <ngx-datatable-column name="Примечание" prop="note"></ngx-datatable-column>
            <ngx-datatable-column name="Действие">
                <div class="inline">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" >
                        <button mat-raised-button class="blue" (click)="edit(row)"> <mat-icon>edit</mat-icon></button>
                        <button mat-raised-button class="red" (click)="remove(row.id)"> <mat-icon>delete_forever</mat-icon></button>
                    </ng-template>
                </div>
            </ngx-datatable-column>
        </ngx-datatable>

    </div>

</div>

