<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <div class="accent pl-24 pr-24" fxLayout="column" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="h1 mt-8 mb-8"> Личный кабинет </div>
        </div>
     </div>
    <div class="content">
        <div class="p-24">
            <div class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" >
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex="40" class="pr-4">
                            <mat-label>Фамилия</mat-label>
                            <input matInput  [(ngModel)]="inf.lastName" disabled/>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="40" class="pr-4">
                            <mat-label>Имя</mat-label>
                            <input autocomplete="off" matInput [(ngModel)]="inf.firstName" disabled/>
                        </mat-form-field>
                        <button  mat-raised-button color="accent" fxFlex="10" class="pr-4" (click)="save()">
                            <mat-icon class="mr-8">save</mat-icon>
                            <span >Сохранить</span>
                        </button>
                    </div>
                </div>
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="40" class="pr-4">
                        <mat-label>Отчество</mat-label>
                        <input autocomplete="off" matInput [(ngModel)]="inf.middleName" disabled/>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="40" class="pr-4">
                        <mat-label>Email</mat-label>
                        <input autocomplete="off" matInput [(ngModel)]="inf.email"/>
                    </mat-form-field>
                </div>
                </div>
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex="40" class="pr-4">
                            <mat-label>Роль</mat-label>
                            <!-- <input autocomplete="off" matInput [(ngModel)]="inf.roleId"/> -->
                            <mat-select [(ngModel)]="inf.roleId" disabled>
                                <mat-option *ngFor="let role of roles" [value]="role.key">
                                    {{role.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="40" class="pr-4">
                            <mat-label>Организация</mat-label>
                            <input autocomplete="off" matInput >
                        </mat-form-field>
                    </div>
                </div>
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="40" class="pr-4">
                        <mat-label>Пароль</mat-label>
                        <input autocomplete="off" matInput [(ngModel)]="inf.password" type="password" />
                    </mat-form-field>
                    <button  mat-raised-button color="primary" fxFlex="10" class="pr-4" (click)="open()">
                        <mat-icon class="mr-8">save</mat-icon>
                        <span>Изменить</span>
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>