<h2 mat-dialog-title>{{isAdd?'Добавить':'Сохранить'}}</h2>
<form  name="form" [formGroup]="form">
<mat-dialog-content  class="mat-typography" style="height: 120vh;" >
    <div fxLayoutGap>
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Фамилия</mat-label>
            <input matInput  [(ngModel)]="dialogData.lastName" formControlName="lastName" required/>
            <mat-error>Фамилия обязателен к заполнению!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100" >
            <mat-label>Имя</mat-label>
            <input matInput  [(ngModel)]="dialogData.firstName" formControlName="fName" required/>
            <mat-error>Имя обязателен к заполнению!</mat-error>
        </mat-form-field>
    </div>
    
    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Отчество</mat-label>
        <input matInput  [(ngModel)]="dialogData.middleName" formControlName="middleName" />
    </mat-form-field>
    <div fxLayoutGap>
        <mat-form-field  appearance="outline" fxFlex="100">
            <mat-label>Логин</mat-label>
            <input matInput  [(ngModel)]="dialogData.login" [disabled]="!isAdd" formControlName="login" required/>
            <mat-error>Логин обязателен к заполнению!</mat-error>
        </mat-form-field>
        <mat-form-field  appearance="outline" fxFlex="100">
            <mat-label>Email</mat-label>
            <input matInput  [(ngModel)]="dialogData.email" formControlName="email" required/>
            <mat-error>Email обязателен к заполнению!</mat-error>
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Роль</mat-label>
        <mat-select [(ngModel)]="dialogData.roleId" formControlName="role" required>
            <mat-option *ngFor="let role of roles" [value]="role.key">
                {{role.value}}
            </mat-option>
        </mat-select>
        <mat-icon matSuffix class="secondary-text">perm_data_setting</mat-icon>
        <mat-error>Роль обязателен к заполнению!</mat-error>
    </mat-form-field>

    <mat-form-field  *ngIf="dialogData.roleId==6"   appearance="outline" fxFlex="100">
        <mat-label>Контрагент</mat-label>
        <mat-select [(ngModel)]="dialogData.contractorId" formControlName="counterPart" required>
            <mat-option *ngFor="let contractor of repairPlaces" [value]="contractor.id">
                {{contractor.nameRu}}
            </mat-option>
        </mat-select>
        <mat-icon matSuffix class="secondary-text">perm_data_setting</mat-icon>
        <mat-error>Контрагент обязателен к заполнению!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Пароль</mat-label>
        <input matInput  [(ngModel)]="dialogData.password" formControlName="password" required/>
        <mat-error>Пароль обязателен к заполнению!</mat-error>
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="dialogData.isBlocked" formControlName="block">Блокировать</mat-slide-toggle>

</mat-dialog-content>
</form>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close> <mat-icon class="mr-8">close</mat-icon> Закрыть</button>
  <button [disabled]="!form.valid"  mat-raised-button color="accent" [mat-dialog-close]="dialogData">
      <mat-icon class="mr-8">{{isAdd?'add':'save'}}</mat-icon>
      <span *ngIf="!form.value.id">{{isAdd?'Добавить':'Сохранить'}}</span>
    </button>
</mat-dialog-actions>
