<div id="ngx-datatable" class="page-layout simple fullwidth docs">
    <div class="accent pl-24 pr-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
        <div class="h1 mt-8 mb-8"> Справочник </div>
    </div>

    <a mat-raised-button class="reference-button mt-16 mt-sm-0" (click)="addNewStantion()">
        <mat-icon class="mr-8">add</mat-icon>
        <span>Новая станция</span>
    </a>
    </div>
    <div class="p-24">
    <div>
        <mat-form-field>
            <mat-label>Фильтр</mat-label>
            <input matInput [(ngModel)]="filter" (keyup)="applyFilter($event)" placeholder="Введите данные поля..." #input>
            <!-- <button class="downloadButton" mat-raised-button (click)="downloadExcel()">
                <mat-icon>get_app</mat-icon></button> -->
        </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <ng-container matColumnDef="nameRu">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Наименование станции </th>
                <td mat-cell *matCellDef="let row"> {{row.nameRu}} </td>
              </ng-container>
              
              <ng-container  matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ______________________ </th>
                <td mat-cell  *matCellDef="let row">
                  
                    <button mat-raised-button class="red" *ngIf="isInRoles([Roles.TorSpecialist,Roles.Admin]) && (Status.Draft == currentStatus || isInRole(Roles.Admin))" (click)="delete(row.id)"> 
                      <mat-icon>delete_forever</mat-icon></button>
                 
                  
                    <!-- <button mat-raised-button class="see" (click)="edit(row.id)"> 
                      <mat-icon>remove_red_eye</mat-icon>
                    </button>  -->
                        <button mat-raised-button class="blue" (click)="edit(row)"> <mat-icon>edit</mat-icon></button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row [ngClass]="{'make-gold': row.isExpired}" *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Нет данных, соответствующих фильтру "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize = 100></mat-paginator>
</div>
</div>