<h2 mat-dialog-title>{{isAdd?'Добавить':'Сохранить'}}</h2>
<mat-dialog-content  class="mat-typography" style="height: 120vh;"  [formGroup]="form">
    <div fxLayoutGap>
        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>Контрагент</mat-label>
            <mat-select formControlName="contractorId">
                <mat-option *ngFor="let contractor of contractorsList" [value]="contractor.id">
                    {{contractor.nameRu}}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix class="secondary-text">perm_data_setting</mat-icon>
            <mat-error>Контрагент обязателен к заполнению!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="100">
            <mat-label>№ договора </mat-label>
            <input matInput formControlName="number" autocomplete="off"/>
            <mat-error>№ договора обязателен к заполнению!</mat-error>
        </mat-form-field>
    </div>
    

    <div fxLayoutGap>
        
        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Дата подписания</mat-label>
            <input  matInput [matDatepicker]="picker"
                formControlName="singDate" [max]="minDate" (keydown)="false"  (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Дата подписания обязателен к заполнению!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Дата окончания</mat-label>
            <input  matInput [matDatepicker]="picker2"
                formControlName="finisDate"  (keydown)="false"  (click)="picker2.open()">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      
    </div>
    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Статус договора </mat-label>
        <mat-select formControlName="statusId">
            <mat-option *ngFor="let contractorStatus of contractorStatusList" [value]="contractorStatus.id">
                {{contractorStatus.nameRu}}
            </mat-option>
        </mat-select>
        <mat-icon matSuffix class="secondary-text">perm_data_setting</mat-icon>
        <mat-error>Статус договора  обязателен к заполнению!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Примечание</mat-label>
        <textarea matInput formControlName="note"></textarea>
      </mat-form-field>
   
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close> <mat-icon class="mr-8">close</mat-icon> Закрыть</button>
  <button mat-raised-button color="accent" (click)="onSaveClick()"><mat-icon class="mr-8">{{isAdd?'add':'save'}}</mat-icon>{{isAdd?'Добавить':'Сохранить'}}</button>
</mat-dialog-actions>