<h2 mat-dialog-title>{{dialogData.type?'Сохранить замечание':'Добавить замечание'}}</h2>
<mat-dialog-content class="mat-typography" style="height: 32vh;">
    <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Текст замечания</mat-label>
        <textarea matInput rows="8" [(ngModel)]="dialogData.text"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close> <mat-icon class="mr-8">close</mat-icon> Закрыть</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="dialogData" [disabled]="dialogData.text.length<3"><mat-icon class="mr-8">{{dialogData.type?'save':'add'}}</mat-icon>{{dialogData.type?'Сохранить':'Добавить'}}</button>
</mat-dialog-actions>