<div class="mr-4" style="position: relative;">
  <mat-form-field appearance="outline" style="position: absolute;width: 50%;right: -2px;top: -19px;">
    <mat-label>Выбрать файл для просмотра</mat-label>
    <mat-select (selectionChange)="openFile($event)">
      <mat-option *ngFor="let fileData of filesList" [value]="fileData.id">
        {{fileData.name}}
    </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<h2 mat-dialog-title>Файл : {{name}}</h2>
<mat-dialog-content class="mat-typography" style="max-height: 78vh !important;">
  <div [ngStyle]="{'width' : secondFile?'50%':'100%','height':'76vh', 'float' : 'left'}">
    <ng2-pdfjs-viewer #pdfViewer></ng2-pdfjs-viewer>
  </div>
  <div [ngStyle]="{'width' : secondFile?'50%':'100%','height':'76vh', 'float' : 'left','opacity':secondFile?'1':'0'}">
    <ng2-pdfjs-viewer #pdfViewerSecond></ng2-pdfjs-viewer>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>