<div id="ngx-datatable" class="page-layout simple fullwidth docs">
    <div class="accent pl-24 pr-24" fxLayout="column" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
        <div class="h1 mt-8 mb-8"> Пользователи </div>
    </div>
    <div fxLayoutAlign.gt-xs="end" >
        <button (click)="add()" mat-raised-button class="mr-4">
            <mat-icon class="mr-8">add</mat-icon>
            <span>Добавить пользователя</span>
        </button>
    </div>
    </div>

    <div class="p-24">
        <ngx-datatable
            class="material"
            [rows]="users"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [limit]="10"
            [messages]="{emptyMessage:'Нет результатов по данному статусу',totalMessage:'общее'}"
            >
            <ngx-datatable-column name="Фамилия" prop="lastName"></ngx-datatable-column>
            <ngx-datatable-column name="Имя" prop="firstName"></ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
            <ngx-datatable-column name="Дата визита" prop="lastInviteDate"></ngx-datatable-column>
            <ngx-datatable-column name="Логин" prop="login"></ngx-datatable-column>
            <ngx-datatable-column name="Активный" prop="activeString"></ngx-datatable-column>
            <ngx-datatable-column name="Роли" prop="rolesString"></ngx-datatable-column>
            <ngx-datatable-column name="Действие" prop="name">
                <div class="inline">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" >
                        <button mat-raised-button class="blue" (click)="edit(row)"> <mat-icon>edit</mat-icon></button>
                        <button mat-raised-button class="red" (click)="remove(row.login)"> <mat-icon>delete_forever</mat-icon></button>
                    </ng-template>
                </div>
            </ngx-datatable-column>
        </ngx-datatable>

    </div>

</div>

