<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->

    <div class="accent pl-24 pr-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="h1 mt-8 mb-8"  style="display:flex;"> Заявка: №                
                <form  [formGroup]="form">
                    <input matInput formControlName="number"[readonly]="true">
                </form>
            </div>
        </div>
        <div>
            <button (click)="sendToUser(Decision.SUCCESS)" mat-raised-button
                *ngIf="form.value.id && isInRoles([Roles.Economist,Roles.SalesDepartment,
                                                   Roles.AuditService,Roles.TorManager,Roles.Treasurer]) && isEdit" class="mr-4">
                <mat-icon class="mr-8">done_all</mat-icon>
                <span>Согласовать</span>
            </button>
            <button (click)="sendToUser(Decision.SUCCESS)"
                *ngIf="form.value.id && isInRole(Roles.TorSpecialist) && isEdit" mat-raised-button color="primary"
                class="mr-4">
                <mat-icon class="mr-8">build</mat-icon>
                <span>Отправить на ремонт</span>
            </button>
            <button (click)="sendToUser(Decision.SUCCESS)"
                *ngIf="form.value.id && isInRole(Roles.Counterparty)  && isEdit && !sendToDocumentColOrAgreement" mat-raised-button color="primary"
                class="mr-4">
                <mat-icon class="mr-8">collections_bookmark</mat-icon>
                <span>Начать сбор документации</span>
            </button>
            <button (click)="sendToUser(Decision.SUCCESS)"
                *ngIf="form.value.id && isInRole(Roles.Counterparty)  && sendToDocumentColOrAgreement" mat-raised-button color="primary"
                class="mr-4">
                <mat-icon class="mr-8">done_all</mat-icon>
                <span>Отправить на согласование</span>
            </button>
            <button (click)="sendToUser(Decision.RETURN)"
                *ngIf="form.value.id && isInRoles([Roles.Economist,Roles.SalesDepartment,Roles.AuditService]) && isEdit"
                mat-raised-button color="warn" class="mr-4">
                <mat-icon class="mr-8">360</mat-icon>
                <span>Вернуть</span>
            </button>
            <button mat-raised-button *ngIf="isInRoles([Roles.TorSpecialist]) 
            && isEdit" [disabled]="!form.valid"
                (click)="save()">
                <mat-icon class="mr-8" *ngIf="form.value.id">save</mat-icon>
                <span *ngIf="form.value.id">Сохранить</span>
                <mat-icon class="mr-8" *ngIf="!form.value.id">add</mat-icon>
                <span *ngIf="!form.value.id">Добавить</span>
            </button>
            
        </div>
    </div>
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Заявка">
                <div id="timeline-wrap">
                    <div id="timeline"></div>
                    <div class="marker b1 timeline-icon green">
                        <mat-icon matTooltip= "В работе">work</mat-icon>
                    </div>
                    <div class="marker b2 timeline-icon {{showStatusTimeLine(10,0)}}">
                        <mat-icon  matTooltip= "В ремонте">build</mat-icon>
                    </div>
                    <div class="marker b3 timeline-icon {{showStatusTimeLine(3,10)}}">
                        <mat-icon  matTooltip= "Сбор документации">collections_bookmark</mat-icon>
                    </div>
                    <div class="marker b4 timeline-icon {{showStatusTimeLine(4,3)}}">
                        <mat-icon  matTooltip= "Согласование">done_all</mat-icon>
                    </div>
                    <div class="marker b5 timeline-icon {{showStatusTimeLine(5,4)}}">
                        <mat-icon matTooltip= "Формирование заявки на оплату">add_to_photos</mat-icon>
                    </div>
                    <div class="marker b6 timeline-icon {{showStatusTimeLine(6,5)}}">
                        <mat-icon matTooltip= "На оплате">local_atm</mat-icon>
                    </div>
                    <div class="marker b7 timeline-icon {{showStatusTimeLine(7,6)}}">
                        <mat-icon matTooltip= "Оплачена">payment</mat-icon>
                    </div>
                </div>
                <div class="p-24">
                    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                        <form class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start"
                            fxFlex="1 0 auto" name="form" [formGroup]="form">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>Номер вагона</mat-label>
                                    <input autocomplete="off" matInput formControlName="carriageNumber" [attr.disabled]="!canEditApplication?'':null" numbersOnly required>
                                    <mat-icon matSuffix class="secondary-text">train</mat-icon>
                                    <mat-error>Номер вагона обязателен к заполнению!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>Контрагент</mat-label>
                                    <mat-select #select [disabled]="!canEditApplication" formControlName="contractorsId"
                                        required>
                                        <mat-select-filter *ngIf="select.focused" [placeholder]="'Введите наименование'" [noResultsMessage]="'Нет результатов'" [displayMember]="'nameRu'" [array]="contractors" (filteredReturn)="contractorsFiltered =$event"></mat-select-filter>
                                        <mat-option *ngFor="let contractor of contractorsFiltered" [value]="contractor.id">
                                            {{contractor.nameRu}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">perm_data_setting</mat-icon>
                                    <mat-error>Контрагент обязателен к заполнению!</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Неисправность</mat-label>
                                    <mat-select #select2 [disabled]="!canEditApplication" formControlName="defectId" required>
                                        <mat-select-filter *ngIf="select2.focused" [placeholder]="'Введите наименование'" [noResultsMessage]="'Нет результатов'" [displayMember]="'nameRu'" [array]="defects" (filteredReturn)="defectsFiltered =$event"></mat-select-filter>
                                        <mat-option *ngFor="let defect of defectsFiltered" [value]="defect.id">
                                            {{defect.nameRu}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">build</mat-icon>
                                    <mat-error>Неисправность обязательна к заполнению!</mat-error>
                                </mat-form-field>

                            </div>
                            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>Станция отцепки</mat-label>
                                    <mat-select #select3 [disabled]="!canEditApplication" formControlName="dicDetachId"
                                        required>
                                        <mat-select-filter *ngIf="select3.focused" [placeholder]="'Введите наименование'" [noResultsMessage]="'Нет результатов'" [displayMember]="'nameRu'" [array]="dicDetach" (filteredReturn)="dicDetachFiltered =$event"></mat-select-filter>
                                        <mat-option *ngFor="let dicDetaches of dicDetachFiltered" [value]="dicDetaches.id">
                                            {{dicDetaches.nameRu}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">pin_drop</mat-icon>
                                    <mat-error>Станция отцепки обязательна к заполнению!</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>Дата отцепки</mat-label>
                                    <input [disabled]="!canEditApplication" matInput [matDatepicker]="picker" autocomplete="off"
                                        formControlName="releaseDate" [max]="minDate" (keydown)="false"  (click)="picker.open()">

                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                            </div>
                            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <div fxFlex="50" *ngIf="form.value.id && isInRole(Roles.Counterparty) 
                                && isEdit && Status.InRepair == currentStatus" class="pr-4">
                                    <mat-label class="mr-sm-12">Ремонт с заменой запасной части</mat-label>
                                    <mat-radio-group formControlName="withReplacement">
                                        <mat-radio-button [value]="true" class="py-8 mr-sm-12">
                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <span class="mat-h4 m-0">Да</span>
                                            </div>
                                        </mat-radio-button>
                                        <mat-radio-button [value]="false" class="py-8 mr-sm-12">
                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <span class="mat-h4 m-0">Нет</span>
                                            </div>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div fxFlex="50" *ngIf="form.value.id && isInRole(Roles.Counterparty) 
                                && isEdit" class="pl-4">
                                    <mat-radio-group formControlName="repairType">
                                        <mat-radio-button [value]=1 class="py-8 mr-sm-12" (change)="repairChange($event.value)">
                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <span class="mat-h4 m-0">Эксплуатационный</span>
                                            </div>
                                        </mat-radio-button>
                                        <mat-radio-button [value]=2 class="py-8 mr-sm-12" (change)="repairChange($event.value)">
                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <span class="mat-h4 m-0">Рекламационный</span>
                                            </div>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div fxFlex="25" class="pl-4">
                                    <mat-radio-group formControlName="loadedMark" [disabled]="!canEditApplication">
                                        <br>
                                        <mat-radio-button [value]=1 class="py-8 mr-sm-12">
                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <span class="mat-h4 m-0">Груженый</span>
                                            </div>
                                        </mat-radio-button>
                                        <mat-radio-button [value]=2 class="py-8 mr-sm-12">
                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <span class="mat-h4 m-0">Порожний</span>
                                            </div>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div fxFlex="25" class="pl-4">
                                    <mat-radio-group formControlName="coSign" [disabled]="!canEditApplication">
                                        <span class="mat-h4 m-0">Признак СО</span><br>
                                        <mat-radio-button [value]=1 class="py-8 mr-sm-12">
                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <span class="mat-h4 m-0">СО-100%</span>
                                            </div>
                                        </mat-radio-button>
                                        <mat-radio-button [value]=2 class="py-8 mr-sm-12">
                                            <div fxLayout="row" fxLayoutAlign="start center">
                                                <span class="mat-h4 m-0">СО-0% (Аренда)</span>
                                            </div>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                    <mat-label>ВЧД</mat-label>
                                    <mat-select #select4 [disabled]="!canEditApplication" formControlName="repairPlaceId">
                                        <mat-select-filter *ngIf="select4.focused" [placeholder]="'Введите наименование'" [noResultsMessage]="'Нет результатов'" [displayMember]="'nameRu'" [array]="repairPlace" (filteredReturn)="repairPlaceFiltered =$event"></mat-select-filter>
                                        <mat-option *ngFor="let place of repairPlaceFiltered" [value]="place.id">
                                            {{place.nameRu}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix class="secondary-text">perm_data_setting</mat-icon>
                                    <!-- <mat-error>ВЧД обязателен к заполнению!</mat-error> -->
                                </mat-form-field>
                            
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Примечание</mat-label>
                                    <textarea [attr.disabled]="!canEditApplication?'':null" matInput
                                        formControlName="description"></textarea>
                                    <mat-error>Примечание обязательно к заполнению!</mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </mat-tab>

            <mat-tab label="Замечания" *ngIf="form.value.id">
                <div class="p-24">
                    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                        <div class="mat-card form-errors-model p-24 mat-elevation-z4 w-100-p">
                            <!-- <div class="h2 mb-24">Замечания</div>      
                            <a mat-raised-button class="reference-button mt-16 mt-sm-0" (click)="save()">
                                <mat-icon class="mr-8">add</mat-icon>
                                <span>Добавить</span>
                            </a> -->

                            <div class="primary-50 pl-4 pr-4" fxLayout="column" fxLayoutAlign="center center"
                                fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                                <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column"
                                    fxLayoutAlign.gt-xs="center start">
                                    <div class="h1 mt-8 mb-8"> Замечания </div>
                                </div>
                                <a mat-raised-button *ngIf="isEdit" class="reference-button mt-16 mt-sm-0"
                                    (click)="addRemark()">
                                    <mat-icon class="mr-8">add</mat-icon>
                                    <span>Добавить</span>
                                </a>
                            </div>

                            <table class="simple">
                                <thead>
                                    <tr>
                                        <th>Дата замечания</th>
                                        <th>Текст замечания</th>
                                        <th>Автор</th>
                                        <th *ngIf="isEdit"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let remark of remarks">
                                        <td width="50px">{{remark.createdDate}}</td>
                                        <td>{{remark.text}}</td>
                                        <td>{{remark.fullName}}</td>
                                        <td *ngIf="isEdit" width="120px">
                                            <button mat-raised-button class="blue" (click)="editRemark(remark)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-raised-button class="red" (click)="removeRemark(remark)">
                                                <mat-icon>delete_forever</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="История" *ngIf="form.value.id">
                <div class="p-24">
                    <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                        <div class="mat-card form-errors-model p-24 mat-elevation-z4 w-100-p">
                            <div class="primary-50 pl-4 pr-4" fxLayout="column" fxLayoutAlign="center center"
                                fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                                <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column"
                                    fxLayoutAlign.gt-xs="center start">
                                    <div class="h1 mt-8 mb-8"> История </div>
                                </div>
                            </div>

                            <table class="simple">
                                <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>Статус заявки</th>
                                        <th>Поручение</th>
                                        <th>Исполнитель</th>
                                        <th>Роль</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let histories of history">
                                        <td width="150px">{{histories.createdDate}}</td>
                                        <td>{{histories.statusTitle}}</td>
                                        <td>{{histories.statusNote}}</td>
                                        <td>{{histories.fullName}}</td>
                                        <td>{{histories.value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Документация" *ngIf="form.value.id">
                <div class="mat-card form-errors-model p-24 mat-elevation-z4 w-100-p">
                    <div *ngIf="form.value.id && canViewFile" class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                        <div class="mat-card mat-elevation-z4 p-24 w-100-p">
                            <div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
                                <h1 mat-dialog-title>Загруженные файлы </h1>
                                <!-- This is the content of the dialog, containing a list of the files to upload -->
                                <mat-dialog-content>
                                    <mat-list>
                                        <mat-list-item *ngFor="let file of loadedFiles ">
                                            <h4 mat-line>{{file.name}}</h4>
                                            <button mat-raised-button color="accent" class="add-files-btn mr-8"
                                                (click)="showFile(file)">
                                                <mat-icon>remove_red_eye</mat-icon>
                                            </button>
                                            <button mat-raised-button color="warn" *ngIf="canEditFile"
                                                class="add-files-btn" (click)="removeFile(file)">
                                                <mat-icon>restore_from_trash</mat-icon>
                                            </button>
                                        </mat-list-item>
                                    </mat-list>
                                    <hr>
                                    <input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />
                                    <div *ngIf="canEditFile" class="container" fxLayout="column"
                                    fxLayoutAlign="space-evenly stretch">
                                    <div>
                                        <button [disabled]="uploading" mat-raised-button color="primary"
                                            class="add-files-btn f-r mt-12" (click)="addFiles()">
                                            <mat-icon>add</mat-icon> Добавить файл
                                        </button>
                                        <h1 mat-dialog-title>Загрузка файлов</h1>
                                    </div>
                                    <!-- This is the content of the dialog, containing a list of the files to upload -->
                                    <mat-dialog-content>
                                        <mat-list>
                                            <mat-list-item *ngFor="let file of files">
                                                <h4 mat-line>{{file.name}}</h4>
                                                <mat-progress-bar *ngIf="progress" mode="determinate"></mat-progress-bar>
                                            </mat-list-item>
                                        </mat-list>
                                    </mat-dialog-content>

                                    <!-- This are the actions of the dialog, containing the primary and the cancel button-->
                                    <mat-dialog-actions class="actions mb-0">
                                        <button mat-raised-button color="primary" class="mt-16"
                                            [disabled]="!files.size" (click)="UploadFiles()">
                                            <mat-icon>cloud_upload</mat-icon> Загрузить
                                        </button>
                                    </mat-dialog-actions>
                                    </div>
                                </mat-dialog-content>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>