@import "src/@fuse/scss/fuse";
.mat-progress-bar {
    width: 70%;
}
mat-list > mat-list-item:nth-of-type(odd) {
    background-color: whitesmoke ;
}
.f-r{
    float: right;
}
body.theme-default .mat-progress-bar-fill::after {
    background-color: #039be5;
}
.mat-input-element:disabled{
    color: rgba(0, 0, 0, 1) !important;
}
.mat-select-disabled {
    ::ng-deep .mat-select-value {
      color: black !important;
    }
}
:host {
//////////////////////////////
    #timeline-wrap{
        margin: 30px 45px 9px 45px;
        top:100;
        position:relative;
    }
  
    #timeline{
        height: 3px;
        width: 100%;
        background-color: #d8e1ea;
        position:relative;
    
    }
  
   .marker{
        z-index:1000;
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        margin-left: -25px;
        background-color: #999999;
        border-radius: 50%;
        cursor: pointer;
        top:-25px;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
  
    .timeline-icon{
        border: solid white 4px;
    }
    .timeline-icon.green {
        background-color: #75c468 !important;
        mat-icon{
            color:white;
        }
    }
    
    .timeline-icon.gray {
        background-color: #aeb5bb !important;
    }
    
    .timeline-icon.blue{
        background-color: #6fb1e4 !important;
    }
  
    .b2{
        left:16.66%
    }
    
    .b3{
        left:33.3%
    }
  
    .b4{
        left:50%
    }
    
    .b5{
        left:66.6%
    }
    .b6{
        left:83.3%
    }
    .b7{
        left:100%
    }
/////////////////////////////////////
    

    .content{
        max-width: 100%;
    }
    button {
        &.red,&.blue {
            color: #FFFFFF;
            font-size: 13px;
            width: 5px;
            margin-bottom: 4px;
            float: left;
            min-width: 50px;
            padding: 0;
            line-height: 41px;
            margin-bottom: 0;

        }
        &.red {
            background-color: #D73D32;
            border-radius: 0 20px 20px 0;
        }
        &.blue {
            background-color: rgb(63, 92, 154);
            border-radius: 20px 0px 0px 20px;

        }
    }
}