:host {
    table {
        width: 100%;
      }
      
      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }

      td, th {
        width: 15%;
      }
    //   th:last-child{
    //       color:transparent;
    //   }
    .content{
        max-width: 100%;
    }
    .make-gold td{
        color: red
    }
    .downloadButton{
        position: absolute;
        right: 0px;
        bottom: 15px;
    }
    .ReportButton{
        position: absolute;
        right: 68px;
        bottom: 15px;
    }
    button {
        &.red,&.blue,&.see {
            color: #FFFFFF;
            font-size: 13px;
            width: 5px;
            margin-bottom: 4px;
            float: right;
            min-width: 50px;
            padding: 0;
            line-height: 41px;
            margin-bottom: 0;

        }
        &.red {
            background-color: #D73D32;
            // border-radius: 0 20px 20px 0;
        }
        &.see{
            background-color: #f49d34;
        }
        &.blue {
            background-color: rgb(63, 92, 154);
            margin-right: 5px;
            // border-radius: 20px 0px 0px 20px;

        }
    }
}
