<div id="ngx-datatable" class="page-layout simple fullwidth docs">
    <div class="accent pl-24 pr-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
        <div class="h1 mt-8 mb-8"> Заявки </div>
    </div>

    <a mat-raised-button class="reference-button mt-16 mt-sm-0" (click)="add()" *ngIf="isInRoles([Roles.TorSpecialist])">
        <mat-icon class="mr-8">add</mat-icon>
        <span>Новая заявка</span>
    </a>
    </div>

    <div class="content p-24">
    <mat-form-field>
        <mat-label>Фильтр</mat-label>
        <input autocomplete="off" matInput (keyup)="applyFilter($event)" placeholder="Введите данные поля..." #input>
        <!-- <button class="ReportButton" mat-raised-button (click)="downloadReport()">
          <mat-icon>get_app</mat-icon> Скачать отчет  
        </button> -->
        <a mat-raised-button class="ReportButton" href="{{link}}" download="Форма_отчета_по_штрафам.xlsx" *ngIf="Status.InWork==currentStatus && isInRole(Roles.TorSpecialist)">
          <mat-icon class="mr-8" >cloud_download</mat-icon>
          <span > Скачать отчет  </span>
        </a>
        <a mat-raised-button class="ReportButton"  [disabled]="!selection.selected.length">
            <mat-icon style="height: 25px;">cloud_download</mat-icon> Скачать Акт выполненных работ
        </a>
        <button class="downloadButton" mat-raised-button (click)="downloadExcel()">
          <mat-icon>get_app</mat-icon>
        </button>
    </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
             <ng-container matColumnDef="select">
                <th  mat-header-cell *matHeaderCellDef mat-sort-header>  
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox> </th>
                <td mat-cell *matCellDef="let row"> 
                    <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                 </td>
               

              </ng-container>
              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Номер заявки </th>
                <td mat-cell *matCellDef="let row"> {{row.number}} </td>
              </ng-container>
          
              <ng-container matColumnDef="carriageNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Номер вагона </th>
                <td mat-cell *matCellDef="let row"> {{row.carriageNumber}} </td>
              </ng-container>
          
              <ng-container matColumnDef="withReplacement">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> С заменой </th>
                <td mat-cell *matCellDef="let row"> {{row.withReplacement?'Да':'Нет'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="loadedMark">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Груженый/порожний </th>
                <td mat-cell *matCellDef="let row"> {{row.loadedMark==1?'Груженый':'Порожний'}} </td>
              </ng-container>

              <ng-container matColumnDef="releaseDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата отцепки </th>
                <td mat-cell *matCellDef="let row"> {{row.releaseDate}} </td>
              </ng-container>

              <ng-container matColumnDef="contractorsName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Контрагент </th>
                <td mat-cell *matCellDef="let row"> {{row.contractorsName}} </td>
              </ng-container>

              <ng-container matColumnDef="statusTitle">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус </th>
                <td mat-cell *matCellDef="let row"> {{row.statusTitle}} </td>
              </ng-container>
              
              <ng-container matColumnDef="finishDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Срок </th>
                <td mat-cell *matCellDef="let row"> {{row.finishDate}} </td>
              </ng-container>

              <ng-container  matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Уд. </th>
                <td mat-cell  *matCellDef="let row">
                  <div>
                    <button mat-raised-button class="red" (click)="remove(row.id)"> 
                      <mat-icon>delete_forever</mat-icon></button>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row [ngClass]="{'make-gold': row.isExpired}" (click)="edit(row.id)" [style.cursor]="'pointer'" *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Нет данных, соответствующих фильтру "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" pageSize = 100></mat-paginator>
          </div>