@import "src/@fuse/scss/fuse";
#dashboard-project {
    .secondary-text{
        text-align: center;
    }
    > .sidebar {
        width: 280px;
        min-width: 280px;
        max-width: 280px;
    }
    .course {
        padding: 16px;
   
        }
    > .center {

        > .header {
            height: 160px;
            min-height: 160px;
            max-height: 160px;

            .selected-project {
                background: rgba(0, 0, 0, 0.12);
                color: #FFFFFF;
                padding: 8px 16px;
                height: 40px;
                line-height: 24px;
                font-size: 16px;
                border-radius: 8px 0 0 0;
            }

            .project-selector {
                margin-left: 1px;
                background: rgba(0, 0, 0, 0.12);
                border-radius: 0 8px 0 0;

                mat-icon {
                    color: #FFFFFF;
                }
            }
        }

        > .content {
            flex: 1;

            mat-tab-group {
                height: 100%;

                .mat-tab-body-wrapper {
                    flex-grow: 1;
                }
            }

            .mat-tab-label-container {
                padding: 0 24px;
            }
        }
    }

    .widget {
        .fuse-widget-front{
            .mat-icon{
                width: 85px;
                height: 85px;
                position: absolute;
                font-size: 92px;
                left: 1px;
                top: 20px;
            }
            &:hover {
                cursor: pointer;
                @include mat-elevation(3);
            }
        }
        &.widget5 {

            .gridline-path.gridline-path-horizontal {
                display: none;
            }
        }
    }
    
}