<div id="dashboard-project" class="page-layout simple right-sidebar" fxLayout="row">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>
        <!-- HEADER -->
        <div class="accent pl-24 pr-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <span class="mat-display-1 my-0 mt-8 mb-8 welcome-message">
                    график просрочки
                </span>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">
            <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                [@animateStagger]="{value:'50'}">

                <!-- WIDGET 1 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-xs="50" fxFlex.gt-md="25" (click)="openPage('/applications/All')">
                    <div class="fuse-widget-front" >
                        <div class="pt-8 pb-16 makeshadow" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                <mat-icon class="mr-8">directions_transit</mat-icon>
                                {{applicationsCount.all-applicationsCount.draft}}
                            </div>
                            <div class="h3 secondary-text font-weight-500 mt-12">
                                Все заявки
                            </div>
                        </div>
                    </div>
                </fuse-widget>
                <!-- / WIDGET 1 -->

                <!-- WIDGET 2 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                fxFlex.gt-xs="50" fxFlex.gt-md="25" (click)="openPage('/applications/InRepair')">
                <div class="fuse-widget-front">
                    <div class="pt-8 pb-16" fxLayout="column" fxLayoutAlign="center center">
                        <div class="orange-fg font-size-72 line-height-72">
                            <mat-icon class="mr-8">build</mat-icon>
                            {{applicationsCount.inRepair}}
                        </div>
                        <div class="h3 secondary-text font-weight-500 mt-12">
                                В ремонте
                        </div>
                    </div>
                </div>
                </fuse-widget>
               
                <!-- / WIDGET 2 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                fxFlex.gt-xs="50" fxFlex.gt-md="25" (click)="openPage('/applications/AgreementOpd')">
                <div class="fuse-widget-front">
                    <div class="pt-8 pb-16" fxLayout="column" fxLayoutAlign="center center">
                        <div class="red-fg font-size-72 line-height-72">
                            <mat-icon class="mr-8">collections_bookmark</mat-icon>
                            {{applicationsCount.agreementOpd}}
                        </div>
                        <div class="h3 secondary-text font-weight-500">
                            Согласование ОПД
                        </div>
                    </div>
                </div>
            </fuse-widget>
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                fxFlex.gt-xs="50" fxFlex.gt-md="25" (click)="openPage('/applications/AgreementTso')">
                <div class="fuse-widget-front">
                    <div class="pt-8 pb-16" fxLayout="column" fxLayoutAlign="center center">
                        <div class="red-fg font-size-72 line-height-72">
                            <mat-icon class="mr-8">collections_bookmark</mat-icon>
                            {{applicationsCount.agreementTso}}
                        </div>
                        <div class="h3 secondary-text font-weight-500">
                            Согласование ЦО
                        </div>
                    </div>
                </div>
            </fuse-widget>
            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
            fxFlex.gt-xs="50" fxFlex.gt-md="25" (click)="openPage('/applications/AgreementITSZHT')">
            <div class="fuse-widget-front">
                <div class="pt-8 pb-16" fxLayout="column" fxLayoutAlign="center center">
                    <div class="red-fg font-size-72 line-height-72">
                        <mat-icon class="mr-8">collections_bookmark</mat-icon>
                        {{applicationsCount.agreementITSZHT}}
                    </div>
                    <div class="h3 secondary-text font-weight-500">
                        Согласование ИЦЖТ
                    </div>
                </div>
            </div>
        </fuse-widget>
                <!-- WIDGET 3 -->
             
                <!-- / WIDGET 3 -->

                <!-- WIDGET 4 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-xs="50" fxFlex.gt-md="25" (click)="openPage('/applications/Agreement')">
                    <div class="fuse-widget-front">
                        <div class="pt-8 pb-16" fxLayout="column" fxLayoutAlign="center center">
                            <div class="blue-grey-fg font-size-72 line-height-72">
                                <mat-icon class="mr-8">done_all</mat-icon>
                                {{applicationsCount.agreement}}
                            </div>
                            <div class="h3 secondary-text font-weight-500 mt-12">
                                Согласование
                            </div>
                        </div>
                    </div>
                </fuse-widget>
                <!-- / WIDGET 4 -->
                <!-- WIDGET 4 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-xs="50" fxFlex.gt-md="25" (click)="openPage('/applications/ReWork')">
                    <div class="fuse-widget-front">
                        <div class="pt-8 pb-16" fxLayout="column" fxLayoutAlign="center center">
                            <div class="blue-grey-fg font-size-72 line-height-72">
                                <mat-icon class="mr-8">loop</mat-icon>
                                {{applicationsCount.reWork}}
                            </div>
                            <div class="h3 secondary-text font-weight-500 mt-12">
                                На доработке
                            </div>
                        </div>
                    </div>
                </fuse-widget>
                <!-- / WIDGET 4 -->
                <!-- WIDGET 1 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-xs="50" fxFlex.gt-md="25" (click)="openPage('/applications/PaymentFormation')">
                    <div class="fuse-widget-front">
                        <div class="pt-8 pb-16" fxLayout="column" fxLayoutAlign="center center">
                            <div class="red-fg font-size-72 line-height-72">
                                <mat-icon class="mr-8">add_to_photos</mat-icon>
                                {{applicationsCount.paymentFormation}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">
                                Формирование <br> заявки на оплату
                            </div>
                        </div>
                    </div>
                </fuse-widget>
                <!-- / WIDGET 1 -->

                <!-- WIDGET 2 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-xs="50" fxFlex.gt-md="25" (click)="openPage('/applications/Payment')">
                    <div class="fuse-widget-front">
                        <div class="pt-8 pb-16" fxLayout="column" fxLayoutAlign="center center">
                            <div class="light-blue-fg font-size-72 line-height-72">
                                <mat-icon class="mr-8">local_atm</mat-icon>
                                {{applicationsCount.payment}}
                            </div>
                            <div class="h3 secondary-text font-weight-500 mt-12">
                                На оплате
                            </div>
                        </div>
                    </div>
                </fuse-widget>
                <!-- / WIDGET 2 -->

                <!-- WIDGET 3 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-xs="50" fxFlex.gt-md="25" (click)="openPage('/applications/Paid')">
                    <div class="fuse-widget-front">
                        <div class="pt-8 pb-16" fxLayout="column" fxLayoutAlign="center center">
                            <div class="orange-fg font-size-72 line-height-72">
                                <mat-icon class="mr-8">payment</mat-icon>
                                {{applicationsCount.paid}}
                            </div>
                            <div class="h3 secondary-text font-weight-500 mt-12">
                                Оплачена
                            </div>
                        </div>
                    </div>
                </fuse-widget>
                <!-- / WIDGET 3 -->


                <!-- WIDGET 5 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="50"
                    class="widget widget5">

                    <!-- Front -->
                    <div class="fuse-widget-front">

                        <div class="px-16 border-bottom" fxLayout="row wrap" fxLayoutAlign="space-between center">

                            <div fxFlex class="py-16 h3">Вывод контрагентов</div>
                        </div>

                        <div fxLayout="row wrap" fxLayoutAlign="start start">

                            <ngx-charts-bar-vertical-stacked
                                [view]="view"
                                [scheme]="colorScheme"
                                [results]="multi"
                                [gradient]="gradient"
                                [xAxis]="showXAxis"
                                [yAxis]="showYAxis"
                                [legend]="showLegend"
                                [legendTitle]="legendTitle"
                                [showXAxisLabel]="showXAxisLabel"
                                [showYAxisLabel]="showYAxisLabel"
                                [xAxisLabel]="xAxisLabel"
                                [yAxisLabel]="yAxisLabel"
                                [maxXAxisTickLength]="40"
                                [animations]="animations">
                            </ngx-charts-bar-vertical-stacked>
                        </div>
                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / WIDGET 5 -->

                <!-- WIDGET 6 -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                    fxFlex.gt-sm="50">

                    <!-- Front -->
                    <div class="fuse-widget-front">

                        <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="h3">Контрагенты</div>
                        </div>
                        <div class="h-400">
                            <ngx-charts-pie-chart *fuseIfOnDom [scheme]="widget6.scheme"
                                [results]="widgets.widget6.mainChart[widget6.currentRange]"
                                [legend]="widget6.showLegend" [explodeSlices]="widget6.explodeSlices"
                                [labels]="widget6.labels" [doughnut]="widget6.doughnut" [gradient]="widget6.gradient"
                                (select)="widget6.onSelect($event)">
                            </ngx-charts-pie-chart>
                        </div>

                        <div class="py-8 mh-16 border-top" fxLayout="row wrap" fxLayoutAlign="start center">

                            <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center" fxFlex="100"
                                fxFlex.gt-sm="50">
                                <span class="mat-display-1 mb-0">
                                    {{widgets.widget6.footerLeft.count[widget6.currentRange]}}
                                </span>
                                <span class="h4">{{widgets.widget6.footerLeft.title}}</span>
                            </div>

                            <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100"
                                fxFlex.gt-sm="50">
                                <span class="mat-display-1 mb-0">
                                    {{widgets.widget6.footerRight.count[widget6.currentRange]}}
                                </span>
                                <span class="h4">{{widgets.widget6.footerRight.title}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / WIDGET 6 -->
            </div>
        </div>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
</div>