<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
        <div class="h1 mt-8 mb-8"> Изменить пароль </div>
    </div>
    <form class="mat-card  p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" >
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Текущий пароль</mat-label>
                <input matInput>
                <!-- <mat-icon matSuffix class="secondary-text">perm_data_setting</mat-icon> -->
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Введите пароль</mat-label>
                <input matInput [(ngModel)]="dialogData.password">
                <!-- <mat-icon matSuffix class="secondary-text">perm_data_setting</mat-icon> -->
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Повторите пароль</mat-label>
                <input matInput>
                <!-- <mat-icon matSuffix class="secondary-text">perm_data_setting</mat-icon> -->
            </mat-form-field>
            <mat-dialog-actions align="end" >
                <button mat-raised-button color="accent" (click)="edit">
                <mat-icon class="mr-8">save</mat-icon>
                <span >Сохранить</span>
            </button>
                <button mat-raised-button mat-dialog-close> <mat-icon class="mr-8">close</mat-icon> Закрыть</button>
            </mat-dialog-actions>  
    </form>
</div>
