<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Добро пожаловать на Портал Сервисного Обслуживания
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            ТОО «ТемирТрансСервис» - компания осуществляющая деятельность по Сервисному обслуживанию
            грузовых вагонов на территории Республики Казахстан и за его пределами. 
            В Сервисное обслуживание вагонного парка входят такие услуги как отслеживание технического 
            состояния вагонов, обоснованность перевода вагонов в нерабочий парк, поддержание вагонов 
            в исправном техническом состоянии путем проведения плановых и текуще-отцепочных ремонтов и т.д.
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">ЛИЧНЫЙ КАБИНЕТ</div>
            
            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline">
                    <mat-label>Логин</mat-label>
                    <input matInput formControlName="username">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error>
                        Логин обязательное поле
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Пароль</mat-label>
                    <input matInput type="password" [type]="hide ? 'password' : 'text'" formControlName="password">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error>
                        Пароль обязательное поле
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Сохранить
                    </mat-checkbox>

                    <!-- <a class="forgot-password" [routerLink]="'/auth/reset-password'">
                        Забыли пароль?
                    </a> -->
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                        [disabled]="loginForm.invalid">
                    ВХОД
                </button>
            </form>

            <div class="separator">
            </div>
        </div>
    </div>
</div>
